:root {
    --light: #E1E2E2;
    --dark: #1D2228;
    --accent: #FB8122;
}

body {
    background-color: var(--light);
    color: var(--dark);
    position: relative;
    overflow-y: hidden;
}

header, main {
    margin: 0 2rem;
}

header {
    margin-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

main {
    margin-top: 2rem;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main div {
    padding: 2rem;
}

main p {
    width: 50ch;
}

main button {
    background-color: var(--accent);
    border-radius: 5px;
    padding: 5px 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--dark);
    color: var(--light);
    width: 100%;
}
